/*General page styles*/
body {
    margin: 0;
}  
html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
}
/*
styles specific to the setup of the card container
*/
/*
styles specific to the header and footer
*/
/*
styles specific to the main business card contents
*/